.container-login {
    border: 0;
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
    .box {
        max-width: 450px;
        margin: 7% auto;
        display: block;
        background: #fff;
        border: 0;
        padding: 0 0 30px;
        border-radius: 7px;
        color: rgb(19, 19, 19);
        .header-block {
            text-align: left;
            background: #73436f;
            padding: 10px 30px 0;
            .title {
                font-size: 1em;
                line-height: 1.4em;
                text-transform: uppercase;
                padding-bottom: 20px;
                color: #fff;
                margin-bottom: 35px;
                margin-top: 5px;
            }
        }
        .Buttons{
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            .button {
                height: 50px;
                background: #73436f;
                text-transform: uppercase;
                border: 0;
                color: white;
                cursor: pointer;
                padding: 0 35px;
                transition: background 0.5s ease;
                font-size: 16px;
                margin: 15px 30px 0;
                &:nth-child(2){
                    background: #53244f;
                }
                &:hover {
                    background: #3c0c39;
                }
            }
        }
        .label {
            display: block;
            text-align: left;
            padding: 0 30px;
            margin-bottom: 15px;
            font-weight: bold;
            cursor: pointer;
            i{
                font-size: 20px;
                float: right;
            }
            > input {
                display: block;
                width: 100%;
                height: 20px;
                padding: 10px 0px 20px;
                font-size: 0.8em;
                transition: all 0.5s ease;
                border: 0;
                border-bottom: 1px solid #ccc;
                &:focus {
                   border-color: black;
                }
            }
        }
        p{
            &.erro{
                color: red;
                padding: 0 30px;
                font-size: 14px;
                font-weight: bold;
            }
        }
    }
}
